.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
MyProject/MyProject.exe
MyProject/slotProject.exe
PinballProject.xcodeproj/
.DS_Store
PinballProject.xcodeproj/project.pbxproj
PinballProject.xcodeproj/project.xcworkspace/xcuserdata/fioreamaru.xcuserdatad/UserInterfaceState.xcuserstate
